html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #0e0e0e;
}

.image {
    background: #003d47;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 50px;
    width: 900px;
    height: 600px;
}

.image__ground {
    position: absolute;
    background: #023035;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.image__moon {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    background: #b6e0ea;
    border-radius: 50%;
    z-index: 1;
}

.christmas-tree {
    position: absolute;
    bottom: 95px;
    width: 300px;
    height: 393px;
    right: 200px;
    z-index: 2;
}

.christmas-tree--small {
    transform: scale(0.6);
    transform-origin: bottom;
    right: 565px;
}

.christmas-tree__layer-1 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 240px solid #02292b;
}

.christmas-tree__layer-2 {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translate(-50%);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 192px solid #02292b;
}

.christmas-tree__layer-3 {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translate(-50%);
    border-left: 96px solid transparent;
    border-right: 96px solid transparent;
    border-bottom: 154px solid #02292b;
}

.christmas-tree__layer-4 {
    position: absolute;
    bottom: 270px;
    left: 50%;
    transform: translate(-50%);
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;
    border-bottom: 123px solid #02292b;
}